---
import type { Article } from '../../content/config';

// Define props with the Article type
interface Props {
  article: Article;
}

const { article } = Astro.props;
---

<article class="card">
	<h4 class="title">
		<a href={`/articles/${article.slug}`}>
			{article.title}
		</a>
	</h4>
	
	<p>{article.description}</p>
	<footer>
		<a class="read-more" href={`/articles/${article.slug}`}>READ MORE</a>
		<small class="category">{article.category}</small>
	</footer>
</article>