---
import type { Guide } from '../../content/config';

interface Props {
  guide: Guide;
}

const { guide } = Astro.props;
---

<article class="card">
	<h4 class="title">
		<a href={`/guides/${guide.slug}`}>
			{guide.title}
		</a>
	</h4>
	<small class="category">{guide.category}</small>
	<p>{guide.description}</p>
	<footer>
		<a class="read-more" href={`/guides/${guide.slug}`}>READ MORE</a>
	</footer>
</article>

