---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../../consts";
import SocialLinks from "./SocialLinks.astro";
import { Icon } from 'astro-icon/components'

const menuItems = [
	{
		name: "Articles",
		path: "/articles",
	},
	{
		name: "Guides",
		path: "/guides",
	},
	{
		name: "Snippets",
		path: "/snippets",
	},
	{
		name: "Links",
		path: "/links",
	},
];
---

<header class="site-header">
	<nav class="nav-main">
		<a href="/" class="site-logo" title="home">
			<img class="logo-image" src="/images/JPLogo.svg" alt={SITE_TITLE} />
		</a>
		<div class="nav-links-desktop">
			{
				menuItems.map((menuItem) => (
					<HeaderLink href={menuItem.path}>{menuItem.name}</HeaderLink>
				))
			}
		</div>
		
		<SocialLinks className="social-desktop" />

		<button class="mobile-burger-button" type="button"><Icon name="fa6-solid:bars" /></button>
	</nav>
	<nav class="nav-mobile d-none">
		{
			menuItems.map((menuItem) => (
			<HeaderLink href={menuItem.path} class="mobile-menu-item">{menuItem.name}</HeaderLink>
			))
		}
		<SocialLinks className="social-mobile" />
	</nav>
</header>

<style>
	.site-header {
		font-family: "Dosis", sans-serif;
		position: relative;
		background-image: url(/images/grain.png);
		background-color: #d35244;
	}

	.nav-main {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 8rem;
		margin: 0 auto;
		max-width: 100ch;
		box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.4);
	}

	.card-header .card-header-title {
		text-align: center;
		font-size: 1.5rem;
		margin: 1rem 0;
		font-weight: 600;
		font-family: "Dosis", sans-serif;
	}

	.site-logo {
		display: flex;
		align-items: center;
		padding: 1rem 2rem;
	}

	.logo-image {
		height: 5rem;
		padding: 0.3rem;
		border-radius: 20px;
		box-sizing: content-box;
		box-shadow: 0 12px 10px -10px #000000;
		background-color: #ffffff;
	}

	.mobile-burger-button {
		background-color: transparent;
		background-image: none;
		cursor: pointer;
		color: rgb(230, 230, 230);
		border: 0;
		margin-right: 20px;
	}

	[data-icon="fa6-solid:bars"] {
		font-size: 2rem;
	}

	.mobile-burger-button:hover {
		color: #fff;
	}

	.mobile-menu-item {
		display: block;
		padding: 1.5rem;
		border-bottom: 1px solid rgb(229, 231, 235);
		border-radius: 0px;
		font-size: 1.25rem;
	}

	.nav-links-desktop {
		display: none;
	}

	@media (min-width: 750px) {
		.mobile-burger-button {
			display: none;
		}

		.nav-mobile {
			display: none;
		}

		.nav-links-desktop {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-grow: 1;
			align-items: center;
			gap: 2rem;
			font-size: 1.25rem;
		}

		.nav-links-desktop a:not(.selected-menu-item) {
			position: relative;
			transition: opacity 150ms ease-in-out;
		}

		.nav-links-desktop a::after {
			content: "";
			display: block;
			height: 2px;
			background: #fff;
			position: absolute;
			left: 0;
			right: 0;
			bottom: -0.1em;
			transform: scale(0);
			transform-origin: left bottom;
			transition: transform 1s;
		}

		.nav-links-desktop a:not(.selected-menu-item):hover::after {
			transform: scale(1);
		}
	}
</style>
