---
import { getPublishedSnippets } from '../../utils/helper';
import Layout from '../../layouts/BaseLayout.astro';
import ContentTitle from '../../components/Content/ContentTitle.astro';
import BreadCrumbs from '../../components/BreadCrumbs.astro';

export async function getStaticPaths() {
	const snippets = await getPublishedSnippets();
	return snippets.map((snippet) => ({
		params: { slug: snippet.slug },
		props: snippet,
	}));
}

const snippet = Astro.props;
const { title, category, description, publishedDate, updatedDate } = snippet.data;
const { Content } = await snippet.render();
---

<Layout title={title} description={description}>
	<article class="content">
		<BreadCrumbs></BreadCrumbs>
				
		<ContentTitle title={title} publishedDate={publishedDate} updatedDate={updatedDate} category={category} />

		<p>{description}</p>

		<Content />
	</article>
</Layout>
